body {
  background: image-url('Hero.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-color: #464646;
  background-blend-mode: multiply;
}

.placebid {

  background-color: rgb(187, 149, 35);
  font-size: 16px;

  font-weight: normal;
}

.page-header{

  color: hsl(47, 90%, 82%);
  font-family: sans-serif;
  font-variant: small-caps;
}

.body-show {

  color: hsl(47, 90%, 82%);
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 18px;
}

.bid-btn {
  color: #000;
}

.media-tex {

  color: hsl(47, 90%, 82%);
  font-family: sans-serif;
  font-variant: small-caps;
  background-color: black

}

.fav-heart {
  font-size: 30px;
}

.faved-heart {
  font-size: 30px;
  color: red;
}

.custom-header {
  color: hsl(47, 90%, 82%);
}

.textline {
  margin: 5px 5px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.edhead {

  color: hsl(47, 90%, 82%);
  font-family: sans-serif;
  font-variant: small-caps;

}

.fmtxt {

  color: hsl(47, 90%, 82%);
  font-family: sans-serif;
  font-variant: small-caps;
}

@media (max-width: $screen-sm-min) {
  .item-show-image {
    display: flex;
    justify-content: center;
  }
}

.body-show {
  .bidamount-list-group-item {
    background-color: black;
  }

  .bid-list-group-item {
    background-color: black;
  }
}

.bid-badge{
  background-color: rgb(196, 145, 42);
  color: black;
  font-size: 1.2em;
}
